<app-adminheader></app-adminheader>
<div class="container-fluid p-0 overflow-x-hiddden">
    <div class="row">
        <div class="col-md-2 p-0">
            <app-adminsidebar></app-adminsidebar>
        </div>
        <div class="col-md-10 p-0">
            <div class="w-100 bg-warning p-2">
                <h1>
                    <i class="fa-solid fa-message me-3"></i>
                    Request
                </h1>
            </div>
            <h3 class="text-center my-3">All Testimonial Request</h3>
            <div class="table-responsive px-4 my-5">
                @if (alltestominals.length>0) {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="bg-success text-light">sl</th>
                            <th class="bg-success text-light">User name</th>
                            <th class="bg-success text-light">User email</th>
                            <th class="bg-success text-light">Message</th>
                            <th class="bg-success text-light">status</th>

                        </tr>
                    </thead>
                    <tbody>
                        @for (item of alltestominals; track $index) {
                        <tr>
                            <td>{{$index+1}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.message}}</td>
                            <td>
                                @if (item.PermissionStatus=='pending') {
                                <button type="button" (click)="statusChange(item._id,'approved')" class="btn btn-success me-3">Approve</button>
                                <button type="button" (click)="statusChange(item._id,'rejected')" class="btn btn-danger">Reject</button>
                                }@else if (item.PermissionStatus=='rejected') {
                                <h5  class=" text-danger">Reject</h5>
                                }@else if (item.PermissionStatus=='approved') {
                                <h5 class=" text-success ">Approve</h5>
                                }@else {
                                <h4>Loading...</h4>
                                }

                            </td>
                        </tr>}
                    </tbody>
                </table>
                }
                @else {<h3 class="text-danger ms-4">NO Requests ...</h3>}

            </div>
        </div>
    </div>
</div>