<nav class="navbar navbar-expand-lg bg-success mt-5 container">
    <div class="container-fluid">
        <a routerLink="/" class="navbar-brand text-white">
            <i class="fa-solid fa-kitchen-set me-2"></i>CookPedia</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="/" class="nav-link text-white " aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/all-recipes" class="nav-link text-white " aria-current="page">Recipe</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/about" class="nav-link text-white " aria-current="page">About</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contact" class="nav-link text-white " aria-current="page">Contact</a>
                </li>

            </ul>
            <div class="dropdown ms-auto">
                <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-user me-2"></i>
                    @if (isLogin) {
                    <span>Hi {{username}}</span>
                    }
                </button>
                <ul class="dropdown-menu">

                    @if(!isLogin){<li><a class="dropdown-item" routerLink="/login">Login</a></li>
                    <li><a class="dropdown-item" routerLink="/register">Register</a></li>
                    }
                    @if (isLogin) {
                    <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
                    <li><a class="dropdown-item" routerLink="/saved-recipes">Saved Recipes</a></li>
                    <li><a class="dropdown-item" (click)="logout()" >Logout</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</nav>