<app-header></app-header>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-4">
            <h4 class="mt-5">Filter</h4>
            <div class="mt-4">
                <button class="btn ">All</button>
                <div class="dropdown mt-5 ">
                    <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Cuisine
                    </button>
                    <div class="dropdown-menu border-0">
                        @for (item of cusineType; track $index) {
                        <button class="btn">{{item}}</button>
                        }
                    </div>
                </div>
                <div class="dropdown mt-5">
                    <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        MealType
                    </button>
                    <div class="dropdown-menu border-0">
                        @for (item of mealType; track $index) {
                        <button class="btn">{{item}}</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="d-flex justify-content-between">
                <h1>All Recipes</h1>
                <input type="text" placeholder="search recipes Here!" class="form-control w-50">
            </div>
            <div class="row my-5">
                @if (allRecipes.length>0) {
                    @for (item of allRecipes; track $index) {
                <div class="col-md-4 p-3">
                    <img [src]="item.image"
                        alt="no image" class="w-100 rounded">
                    <h4 class="mt-2">{{item.name}}</h4>
                    <p><b>Cuisne: </b>{{item.cuisine}}</p>
                </div>
                }
            }@else {
                <h1>Loading...</h1>
            }
            </div>
        </div>
    </div>
</div>