<app-adminheader></app-adminheader>
<div class="container-fluid p-0 overflow-x-hiddden">
    <div class="row">
        <div class="col-md-2 p-0">
            <app-adminsidebar></app-adminsidebar>
        </div>
        <div class="col-md-10 p-0">
            <div class="w-100 bg-warning p-2">
                <h1>
                    <i class="fa-solid fa-bowl-rice me-3"></i>
                    Recipes
                </h1>
            </div>
            <h3 class="text-center my-3">Recipe List</h3>
            <div class="d-flex justify-content-between px-4 mt-4">
                <button class="btn btn-primary"> Add Recipes <i class="fa-solid fa-plus ms-2"></i></button>
                <input type="text" placeholder="name " class="form-control w-25">
            </div>
            <div class="table-responsive px-4 my-5">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="bg-success text-light">sl</th>
                            <th class="bg-success text-light">Name</th>
                            <th class="bg-success text-light">Image</th>
                            <th class="bg-success text-light">Cuisine</th>
                            <th class="bg-success text-light">...</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>dumm</td>
                            <td>dummd</td>
                            <td>dumm</td>
                            <td>
                                <button class="btn btn-outline-primary me-3"><i
                                        class="fa-solid fa-pen-square"></i></button>
                                <button class="btn btn-outline-danger"><i class="fa-solid fa-trash-can"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3 class="text-danger ms-4">NO Recipes ...</h3>
        </div>
    </div>
</div>