<app-adminheader></app-adminheader>
<div class="container-fluid p-0 overflow-x-hiddden">
    <div class="row">
        <div class="col-md-2 p-0">
            <app-adminsidebar></app-adminsidebar>
        </div>
        <div class="col-md-10 p-0">
            <div class="w-100 bg-warning p-2">
                <h1>
                    <i class="fa-solid fa-user me-3"></i>
                    users
                </h1>
            </div>
            <h3 class="text-center my-3">user List</h3>
            <div class="table-responsive px-4 my-5">
                @if (allUsers.length>0) {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="bg-success text-light">sl</th>
                            <th class="bg-success text-light">Name</th>
                            <th class="bg-success text-light">Email</th>

                        </tr>
                    </thead>
                    <tbody>
                        @for (item of allUsers; track $index) {
                        <tr>
                            <td>{{$index+1}}</td>
                            <td>{{item.username}}</td>
                            <td>{{item.email}}</td>
                        </tr>
                        }
                    </tbody>
                </table>
                }@else {
            <h3 class="text-danger ms-4">NO Users ...</h3>
                    }
            </div>
        </div>
    </div>
</div>