
<div class="w-100 bg-success text-light d-flex align-items-center flex-column" style="height: 90vh;">


    <div class="mt-5">
        <h5 routerLink="/admin-home" class="mt-4"><i class="fa-solid fa-bars me-3"></i> Dashboard</h5>
        <h5 routerLink="/admin-recipes" class="mt-4"><i class="fa-solid fa-bowl-rice me-3"></i> Recipes</h5>
        <h5 routerLink="/admin-users" class="mt-4"><i class="fa-solid fa-user me-3"></i> Users</h5>
        <h5 routerLink="/admin-download" class="mt-4"><i class="fa-solid fa-download me-3"></i> Downloads</h5>
        <h5 routerLink="/admin-request" class="mt-4"><i class="fa-solid fa-message me-3"></i> Requests</h5>
    </div>

</div>