<app-header></app-header>

<div class="container mt-5 ">
    <div class="row align-items-start ">
        <div class="col-md-6 mb-4">
            <a routerLink="/all-recipes" href="#" class="text-primary mb-4 d-inline-block ">Back to all Recipes</a>
            <img [src]="recipiesDetails.image" alt="Caipirinha"
                class=" rounded shadow "  >
            <div class="my-5 d-flex justify-content-between align-items-center ">
                <button (click)="addDownloadRecipe()" class="btn text-white bg-success rounded px-4">Download Recipe</button>
                <button (click)="addSaveRecipe()" class="btn text-white bg-primary rounded px-4">Save Recipe</button>
            </div>
        </div>
        <div class="col-md-6">
            <h1 class="mb-3">{{recipiesDetails.name}}</h1>
            <div class="row text-center mb-4">
                <div class="col-md-4 my-3">
                    <h6 class="mb-4 mt-3"><strong>Cuisine:</strong> {{recipiesDetails.cuisine}}</h6>
                    <img width="50px" height="50px"
                        src="https://png.pngtree.com/png-vector/20230815/ourmid/pngtree-clock-icon-simple-flat-vector-png-image_9182653.png"
                        alt="">
                    <p class="mt-2 mb-2">Preparation Time:</p>
                    <p><span class="text-danger fw-bold ">5</span> minutes</p>
                </div>
                <div class="col-md-4 my-3">
                    <h6 class="mb-4 mt-3"><strong>Serving:</strong> {{recipiesDetails.servings}}</h6>
                    <img width="70px" height="50px" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTIj1whjXvMLPjEeUpVmThtPsmLUtbkF7nkKWzwlW1Zo7Z1Fx-D" alt="">
                    <p class="mt-2 mb-2">Cooking Time:</p>
                    <p><span class="text-danger fw-bold">{{recipiesDetails.cookTimeMinutes}}</span> minutes</p>
                </div>
                <div class="col-md-4 my-3">
                    <h6 class="mb-4 mt-3"><strong>Mode of Cooking:</strong> {{recipiesDetails.difficulty}}</h6>
                    <img width="40px" class="mb-2" height="40px" src="https://cdn-icons-png.flaticon.com/512/723/723687.png" alt="">
                    <p class="mt-2 mb-2">Calories per Serving:</p>
                    <p><span class="text-danger fw-bold">{{recipiesDetails.caloriesPerServing}}</span> minutes</p>
                </div>
            </div>
            <h3 class="mb-4 mt-3">Ingredients Needed</h3>
            <ol>
                @for (item of recipiesDetails.ingredients; track $index) {
                    <li>{{item}}</li>
                }
            </ol>
            <h3 class="mt-5 mb-4">Cooking Instructions</h3>
            <ul>
                @for (item of recipiesDetails.instructions; track $index) {
                    <li>{{item}}</li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="mb-4">related Recipes</h3>
            <div class="d-flex justify-content-start gap-4">

                @for (item of allrelatedRecipes; track $index) {
                    <div class="text-center" [hidden]="item.name==recipiesDetails.name">
                    <img [src]="item.image"
                        alt="Blueberry Smoothie" class="img-fluid rounded shadow" style="width: 250px; height: 280px;">
                    <p class="mt-2 fw-medium">{{item.name}}</p>
                </div>
                }
                @if (allrelatedRecipes==1) {
                <h4 class="text-primary ms-3 mt-5">no related Recipes </h4>

                }
            </div>
        </div>
    </div>
</div>